body.landing-body {
    background-image: url('/public/components/SIDS\ captura.PNG');
    background-repeat: no-repeat;
    background-position: right top;
    margin: 0;
    background-color: #fafafa;
}