.rouletteContainer {
    > div {
        height: 75%;
        width: 75%;
        max-height: unset;
        max-width: unset;
   }
    position: absolute;

    left: 400px;
    text-align: center;
    background-color: #111111;
    width: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.roulette-body{
    background-color: #000000;
}
.spinButton {
    margin-top: 50px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: rgb(209, 25, 25);
    border-radius: 10px;
    border-color: transparent;
    color: white;
    font-weight: 800;
}

.selectedResult {
    margin-top: 20px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 360px;

}
