.rouletteContainer {
    position: absolute;
    left: 400px;
    text-align: center;
    background-color: #111111;
    width: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.spinButton {
    margin-top: 20px;
    padding: 10px 20px;
    cursor: pointer;
}

.selectedResult {
    margin-top: 20px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 00px;
    left: 200px;
}
